<span style="FONT-SIZE: 9pt; FONT-FAMILY: Arial">

<p>This is an e-mail summary of MindBodyFX bulk order import agent for file [%FILENAME%].</p>

<p><b>Processed Orders:</b></p>
<p>[%PROCESSED_ORDERS%]</p>

<p><b>Skipped Orders:</b></p>
<p>[%UNPROCESSED_ORDERS%]</p>

</span>