<span style="FONT-SIZE: 9pt; FONT-FAMILY: Arial">

<p>MindBodyFX reorder notification for item ID [%ITEM_ID%]</p>

  <p><b>Item ID: </b>[%ITEM_ID%]</p>
  <p><b>Reorder Point: </b>[%REORDER_POINT%]</p>

  <p><b>Total Quantity Ordered: </b>[%TOTAL_QTY_ORDERED%]</p>
  <p><b>Inventory Quantity After Import: </b>[%QTY_AVAILABLE_AFTER%]</p>
  <p><b>Inventory Quantity Before Import: </b>[%QTY_AVAILABLE_BEFORE%]</p>

</span>