<span style="FONT-SIZE: 9pt; FONT-FAMILY: Arial">

<p>Error occurred in the ThinkTank bulk order import agent</p>

<p><b>Error Information:</b>
<br>[%ERROR_TYPE%]</p>

<p><b>Error Stack Trace:</b>
<br>[%STACK_TRACE%]</p>

</span>