<span style="FONT-SIZE: 9pt; FONT-FAMILY: Arial">

<p><font color="red">File [%FILENAME%] has not been imported completely because one or more orders/items have failed validation.</font></p>

<p><b>ACTION REQUESTED</b>: Please correct the orders or items listed below and re-upload the file.</p>

<p><b>Orders Not Imported:</b></p>
<p>[%UNPROCESSED_ORDERS%]</p>

<p><b>Orders Imported:</b></p>
<p>[%PROCESSED_ORDERS%]</p>

</span>