<span style="FONT-SIZE: 9pt; FONT-FAMILY: Arial">

<p><font color="red">File [%FILENAME%] has been imported partially because one or more orders/items have failed validation.</font></p>

<p><b>ACTION REQUESTED</b>: Please review the skipped orders and re-upload the file after correcting them. Please do not include orderes that were successfully imported.</p>

<p><b>Orders Not Imported:</b></p>
<p>[%UNPROCESSED_ORDERS%]</p>

<p><b>Orders Imported:</b></p>
<p>[%PROCESSED_ORDERS%]</p>

</span>