<span style="FONT-SIZE: 9pt; FONT-FAMILY: Arial">
<p>Thank you for your order!</p>

<p>
<b>Order Number:</b> [%ORDER_ID%]-[%ORDER_SUFFIX%]<br>
<b>External Order Number:</b> [%EXTERNAL_ORDER_ID%]<br>
<b>Order Date:</b> [%ORDER_DATE%]<br>

<p>
<b>Shipping Address</b><br>
[%SHIPPING_FIRSTNAME%]<br>
[%SHIPPING_LASTNAME%]<br>
[%SHIPPING_ADDRESS1%]<br>
[%SHIPPING_ADDRESS2%]<br>
[%SHIPPING_CITY%], [%SHIPPING_STATE%] [%SHIPPING_ZIP%]<br>
[%SHIPPING_COUNTRY%]<br>
</p>

<p>
<b>Billing Address</b><br>
[%BILLING_FIRSTNAME%]<br>
[%BILLING_LASTNAME%]<br>
[%BILLING_ADDRESS1%]<br>
[%BILLING_ADDRESS2%]<br>
[%BILLING_CITY%], [%BILLING_STATE%] [%BILLING_ZIP%]<br>
[%BILLING_COUNTRY%]<br>
</p>

<p>
	<b>Total Line Items Ordered:</b> [%LINE_ITEM_COUNT%]<br>
</p>

<table style="font-size: 9pt" width="650" cellSpacing="0" cellPadding="0" border="0">
<tr>
	[%ORDER_LINE_ITEMS%]
</tr>
</table>

<p>
	<b>Order Total: </b> [%ORDER_TOTAL%]
</p>

<br><br>
<b>Shipping Label Comment:</b><br>[%SHIP_COMMENT%]

<p>Note: This email message was sent from a notification-only address that cannot accept incoming email. Please do not reply to this message.</p>
</span>
