<span style="FONT-SIZE: 9pt; FONT-FAMILY: Arial">

<p>Error occurred in SocialThinking bulk order import agent</p>

<p><b>Error Type:</b></p>
<p>[%ERROR_TYPE%]</p>

<p><b>Stack Trace:</b></p>
<p>[%STACK_TRACE%]</p>

</span>